<section>
  <h1 class="text-6xl font-bold title font-title py-40 text-center text-gray-800">
    Where We've Been
  </h1>

  <div class="max-w-4xl mx-auto">
    <div class="prose mt-32 mb-16 max-w-4xl border-b-2 border-sky">
      <p class="text-lg md:text-2xl">
        We'd never been to any of these places before. We've got some thoughts on what it was like to visit. Spoiler: mostly fun!
      </p>
    </div>

    <div class="grid grid-cols-2 gap-2 pb-16">
      <% @stops.each do |stop| %>
        <%= link_to url_for(stop), class: "flex relative block justify-center items-center" do %>
          <%= image_tag stop.splash, class: "object-cover w-full h-full" %>

          <div class="flex flex-col justify-center items-center absolute text-white inset-0 z-auto ">
            <span class="text-4xl text-white">
              <%= stop.name %>
            </span>
            <span>
              <%= stop.from.strftime("%B %-d, %Y") %>
            </span>
            <span>
              <%= stop.to.strftime("%B %-d, %Y") %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
