<section class="flex flex-col items-center content-center">
  <h1 class="text-4xl font-semibold">
    <%= @messages.sample %>
  </h1>

  <div class="text-pink-500 stroke-current stroke-0 fill-current mt-12 w-11/12">
    <%= render 'svg/map', stops: @stops %>
  </div>

  <h2 class="text-2xl my-6">
    We're going on a road trip to get married in Yosemite on October 13th.  Click the stops above to follow along, or skip to our latest journal: <%= link_to @post.title, url_for(@post), class: "underline" %>.
  </h2>

  <h2 class="text-4xl my-4">
    Where we've been
  </h2>
  <div>
    <% @stops.take(3).each do |stop| %>
     <%= link_to url_for(stop) do %>
        <%= render 'stops/banner', stop: stop %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-12">
    <%= link_to("See All (#{@stops.size})", stops_path, class: "text-2xl underline") %>
  </div>
</section>
