<section>
  <h1
    class="text-6xl font-bold font-title py-40 text-center text-gray-200 bg-no-repeat bg-center bg-cover"
    style="background-image:
            linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
            ),
            url(<%= image_url("yosemite.jpeg") %>)
          "
  >
    <div>Carrie & Truman</div>
    <div>are getting married.</div>
  </h1>

  <% if session[:postslug].present? %>
    <div class="text-center bg-accent p-8">
      <div class="text-xl md:text-2xl prose max-w-full text-gray-900">
          Welcome back!
      </div>
      <div class="text-lg prose text-center w-full max-w-full text-gray-900">
        There are <%= @new_posts %> new posts. Here's where you left off: <%= link_to @post.title, polymorphic_url(@post.stop, anchor: @post.slug), class: "underline text-gray-200" %>.  Or read the <%= link_to "most recent", polymorphic_url(@most_recent&.stop, anchor: @most_recent&.slug), class: "underline text-gray-200" %>.
      </div>
    </div>
  <% end %>

  <div class="max-w-4xl mx-auto prose py-12 px-4">
    <p class="text-2xl md:text-4xl text-center">
      Catballs is delighted.
    </p>

    <p class="text-xl">
      Hello dear family & friends, because the love you've shared with us is part of what makes us "us," we are excited to share that we are finally getting married after ten years together.
    </p>

    <p class="text-xl">
      We're embarking on a cross-country road trip to see some animals, many tall trees, huge rocks -- and elope among the natural splendor out west. On October 13th, 2020, we'll say our vows at Yosemite National Park.
    </p>

    <p class="text-2xl md:text-4xl text-center">
      Your presence will be missed.
    </p>

    <p class="text-xl">
       We would love for you to <%= link_to("send us a note", thoughts_path, class: "underline text-teal-400") %> that we can read on our wedding day. We also invite you to <%= link_to("follow along", stops_path, class: "underline text-teal-400") %> as we document our journey.
    </p>

    <p class="text-xl">
      <% if session[:email].present? %>
        We're thrilled that you'd like to receive updates at the following addresses: <%= session[:email].join(", ") %>. Feel free to add another, below.
      <% else %>
        We'll let you know when photos are available, and we'll be sending a few updates as we travel. If you'd like to be notified, please add your email below.
      <% end %>
    </p>

    <%= form_with(model: @email, local: true) do |form| %>
      <div class="flex flex-row items-center content-center justify-center">
        <%= form.text_field :email, placeholder: "add your email", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-full w-3/6 mr-8" %>

        <%= form.submit("Add", class: "bg-accent hover:bg-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer h-full") %>
      </div>
    <% end %>

    <p class="text-2xl md:text-4xl text-center">
      We look forward to celebrating with you someday.
    </p>
  </div>

  <div class="w-screen bg-dark py-8">
    <div class="max-w-4xl mx-auto text-light stroke-current stroke-0 fill-current my-12 w-11/12">
      <%= render 'svg/map', stops: @stops %>
    </div>
  </div>
</section>
