<section class="flex flex-col items-center content-center">
  <h1 class="text-4xl font-semibold font-title">
    <%= @messages.sample %>
  </h1>
  <h2 class="text-2xl my-6">
    Follow our trip: <%= link_to @post.title, url_for(@post), class: "underline text-teal-400" %>
  </h2>

  <div class="text-indigo-400 stroke-current stroke-0 fill-current mt-12 w-11/12">
    <%= render 'svg/map', stops: @stops %>
  </div>

  <h2 class="text-2xl my-6">
    We're going on a road trip to get married in Yosemite on October 13th.  We're taking notes, so click the stops above to follow along, or poke around <%= link_to("where we've been", stops_path, class: "text-2xl underline text-teal-400") %>.
  </h2>

  <h2 class="text-2xl my-6">
    Although we're going it alone, we'd love for you to <%= link_to("share some thoughts", thoughts_path, class: "text-2xl underline text-teal-400") %> that we can read during our ceremony.  Let's get together and celebrate soon.
  </h2>
</section>
