<main>
  <h1 class="text-6xl font-title">
    <%= @post.title %>
  </h1>
  <h2 class="text-4xl font-title">
    <%= link_to @post.stop.name, url_for(@post.stop), class: "underline" %>
    -
    <%= @post.created_at.strftime("%B %-d, %Y") %>
  </h2>
  <div>
    <%= @post.description %>
  </div>
  <div class="mt-12">
    <%= @post.content %>
  </div>
  <div class="flex flex-row justify-between mt-12">
    <div>
      <%= link_to_if @prev.present?, @prev&.title, url_for(@prev) %>
    </div>
    <div>
      <%= link_to_if @next.present?, @next&.title, url_for(@next) %>
    </div>
  </div>
</main>
