<article class="prose max-w-4xl mx-auto">
  <header>
    <h1 class="text-6xl font-title">
      <%= @post.title %>
    </h1>
  </header>

  <h2 class="text-4xl font-title">
    <%= link_to @post.stop.name, url_for(@post.stop), class: "underline" %>
    -
    <%= @post.created_at.strftime("%B %-d, %Y") %>
  </h2>
  <p class="">
    <%= @post.description %>
  </p>
  <article class="mt-12 prose">
    <%= @post.content %>
  </article>
  <div class="flex flex-row justify-between mt-12">
    <div>
      <%= link_to_if @prev.present?, @prev&.title, url_for(@prev) %>
    </div>
    <div>
      <%= link_to_if @next.present?, @next&.title, url_for(@next) %>
    </div>
  </div>
</article>
