<section class="max-w-4xl mx-auto">
  <h1 class="max-w-4xl mx-auto text-6xl font-bold title font-title py-40 text-center text-gray-800">
    Please send us something for our ceremony!
  </h1>

  <div class="max-w-4xl mx-auto prose mb-8">
    <p class="text-lg md:text-2xl">
      It's hard to beat a handwritten note. If you've got the time, please mail us a letter. We're leaving on October 8th. Need our address?  <%= link_to "Send us a note", "mailto:hello@trumanshuck.com", class: "text-2xl underline text-teal-400" %> and we'll send it back.
    </p>

    <p class="text-lg md:text-2xl">
      If letters aren't your thing, you can write something right here and send it directly.
    </p>
  </div>

  <%= form_with(model: @thought, local: true) do |form| %>
    <div class="max-w-lg">
      <%= form.label :your_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="my-6">
      <%= form.label :your_message, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.rich_text_area :content %>
    </div>

    <%= form.submit("Send", class: "bg-indigo-400 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer") %>
  <% end %>

  <div class="my-24">
    <%= render 'view', thoughts: @thoughts if logged_in? %>
  </div>
</section>
