<section>
  <h1
    class="text-6xl font-bold font-title py-40 text-center text-gray-200 bg-no-repeat bg-center bg-cover"
    style="background-image:
            linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
            ),
            url(<%= image_url("sequoia.jpg") %>)
          "
  >
    <div>Share your words of</div>
    <div>joy, counsel, or affront</div>
  </h1>

  <div class="max-w-4xl mx-auto prose py-12 px-4">
    <p class="text-2xl md:text-4xl text-center font-heading">
      Please mail us a letter.
    </p>

    <p class="text-xl">
      We'd love to read a note from you on our wedding day. Please write some joyful, wise, or silly words and send them in the mail -- we leave October 8th. Need our address?  <%= link_to "Send us a note", "mailto:hello@trumanshuck.com", class: "underline text-teal-400" %> and we'll send it back.
    </p>

    <p class="text-2xl md:text-4xl text-center font-heading">
      Or...
    </p>

    <p class="text-xl">
      It's hard to beat a handwritten note, but if letters aren't your thing you can write something below.
    </p>
  </div>

  <div class="max-w-4xl mx-auto bg-white px-4 py-12 mb-12 border-gray-200 rounded shadow">
    <%= form_with(model: @thought, local: true) do |form| %>
      <div class="max-w-lg">
        <%= form.label :your_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="my-6">
        <%= form.label :message, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.rich_text_area :content, class: "customized-min-height" %>
      </div>

      <div class="text-right">
        <%= form.submit("Send", class: "bg-accent hover:bg-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer") %>
      </div>
    <% end %>

    <% if logged_in? %>
      <div class="my-24">
        <%= render 'view', thoughts: @thoughts %>
      </div>

      <div class="my-24">
        <%= Email.all.map(&:email).join(", ") %>
      </div>
    <% end %>
  </div>
</section>
