<section>
  <h1 class="text-4xl font-semibold font-title">
    We'd love to have something from you to read during our ceremony.
  </h1>

  <h2 class="text-2xl font-semibold my-6">
    It's hard to beat a handwritten note. If you've got the time, please mail us a letter. We're leaving on October 8th. Need our address?  <%= link_to "Send us a note", "mailto:hello@trumanshuck.com", class: "text-2xl underline text-teal-400" %> and we'll send it back.
  </h2>

  <h2 class="text-2xl font-semibold my-6">
    If letters aren't your thing, you can write something right here and send it directly.
  </h2>

  <%= form_with(model: @thought, local: true) do |form| %>
    <div class="max-w-lg">
      <%= form.label :your_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="my-6">
      <%= form.label :your_message, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.rich_text_area :content %>
    </div>

    <%= form.submit("Send", class: "bg-indigo-400 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer") %>
  <% end %>
</section>
