<!DOCTYPE html>
<html>
  <head>
    <title>Carrie & Truman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="max-w-4xl mx-auto flex flex-col items-center content-center py-16">
    <%= yield %>
  </body>
</html>
